.navbar {
    background-color: darkolivegreen;
    font-weight: bolder;
    font-size: larger;
    padding: 30px 30px;
}

a {
    text-align: center;
}

.av-link text-white {
    margin-left: 10vw;
}

.navbar-nav {
    margin-left: 20vw;
    display: flex;
}

.btn-primary {
    margin-left: 40vw;
}

.nav-link :hover {
    color: blue;
}