<!DOCTYPE html>
<html lang="en">

<body>
    <div class=" about">
        <section class =left>
    <header>
        <h1>About Us</h1>
        <p>Welcome to our creative space where innovation meets passion.</p>
    </header>
</section>

    <section class="right">
        <h2>Our Story</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </section>

    <section class="left">
        <h2>Our Team</h2>
        <div class="team-member">
            <h5>Deepanshi Mirg</h5>
            <p>Co-Founder</p>
        </div>

        <div class="team-member">
            <h5>Monica Garg</h5>
            <p>Lead Designer</p>
        </div>
    </section>

    <section class="right">
        <h2>Our Values</h2>
        <p>We believe in integrity, creativity, and customer satisfaction. .</p>
    </section>

    <section class ="left">
        <h2>Contact Us</h2>
        <p>Feel free to reach out to us at <a href="mailto:info@example.com">infoexample.com</a>.</p>
    </section>

</div>
</body>
</html>


